<h1>Add User</h1>
<div>
  <label for="userID">ID:</label>
  <input id="userID" [(ngModel)]="user.userID" placeholder="userID">
</div>

<div>
  <label for="firstName">First Name:</label>
  <input id="firstName" [(ngModel)]="user.firstName" placeholder="firstName">
</div>

<div>
  <label for="lastName">Last Name:</label>
  <input id="lastName" [(ngModel)]="user.lastName" placeholder="lastName">
</div>

<div>
  <label for="dob">Date of Birth:</label>
  <input id="dob" [(ngModel)]="user.dob" placeholder="dob">
</div>

<div>
  <label for="gender">Gender:</label>
  <input id="gender" [(ngModel)]="user.gender" placeholder="gender">
</div>

<div>
  <label for="description">Description:</label>
  <input id="description" [(ngModel)]="user.description" placeholder="description">
</div>

<div>
  <label for="profilePicture">Profile Picture:</label>
  <input id="profilePicture" [(ngModel)]="user.profilePicture" placeholder="profilePicture">
</div>

<div>
  <label for="interest1">Interest 1:</label>
  <input id="interest1" [(ngModel)]="user.interest1" placeholder="interest1">
</div>

<div>
  <label for="interest2">Interest 2:</label>
  <input id="interest2" [(ngModel)]="user.interest2" placeholder="interest2">
</div>

<div>
  <label for="interest3">Interest 3:</label>
  <input id="interest3" [(ngModel)]="user.interest3" placeholder="interest3">
</div>
<div>
  <input type="button" value="Add" (click)="save()">
</div>
