<body>
    <div class="topbar">
        <a id="logo"><img src="../../assets/bible-ring.png" alt="logo"></a>
        <a id="login" routerLink="/main">Login</a>
        <a id="more" routerLink="/more">More...</a>    
    </div>
    <div class="background">
        <img src="../../assets/landing-page-backroung.png" alt="happy franciscan couples">
        <div class="overlay">
            <button id="create-account" routerLink="user-create">Create Account</button>
          </div>
    </div>
    <div class="footer"> 
        <a>content</a>
    </div>
    
</body>